@import './styles/_variables.scss';
@import './styles/_colors.scss';

.portfolio__container {
  background-color: $blueDark;
  color: white;
  overflow: hidden;
}

.project__container {
  margin-bottom: 200px !important;
}