$enfasisColor: rgb(177, 27, 62);
$enfasisColor1: rgb(240, 252, 70);
$lightColor: rgb(252, 191, 73);
$darkColor: rgb(0, 48, 73);

$blueDark: #020047;
$blueDark1: rgb(2, 11, 131);
$blueDark2: rgb(19, 28, 151);
$blueDark3: rgb(14, 20, 107);