$enfasisColor: rgb(177, 27, 62);
$enfasisColor1: rgb(240, 252, 70);
$lightColor: rgb(252, 191, 73);
$darkColor: rgb(0, 48, 73);

$blueDark: #020047;
$blueDark1: #020b83;
$blueDark2: #131c97;
$blueDark3: #0e146b;
