// @import "_variables.scss";
@import "./_colors.scss";

@font-face {
  font-family: 'Cy';
  src: url('/fonts/Cy/Cy-Regular.otf');
  src: url('/fonts/Cy/Cy-SemiBold.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: 'Abel', sans-serif;
  font-size: 1.4rem !important;
}

.title {
  font-family: 'Cy', sans-serif;
  font-weight: bold;
}